<!DOCTYPE html>
<html>
<head>
  <title>Marvel Gallery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="images/favicon.ico">  
</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

  <div class='navbar fixed'>
     <div class='container'>
        <h4 class='pull-left'>
          <%= link_to "Marvel Gallery", root_path %>
        </h4>
        
        <ul class='pull-right'>
           <li><%= link_to "All Characters", characters_index_path %></a></li>
           <li><%= link_to "Marvel Quiz", quiz_show_path %></a></li>
           <li><%= link_to "Hero or Evil ?", alliance_show_path %></a></li>           
           <li><a href="http://www.42la.bs">42 Labs</a></li>
        </ul>
     </div>
  </div>
  
  <%= yield %>
  
  <script type="text/javascript">
    $( document ).ready(function() {
      var s = skrollr.init();
      s.refresh();
    });
  </script>
</body>
</html>
